@model MVCSmallFarm.ViewModels.ProductCatViewModel

@{
    ViewData["Title"] = "Product Detail";

}



<div class="card mb-3">
    <h3 class="card-header">@ViewBag.ProductDetail.ProductName</h3>
    <div class="card-body">
        <h5 class="card-title">Category : @ViewBag.ProductDetail.CategoryName</h5>
        @if (ViewBag.ProductDetail.IsPromotion == true)
        {
            <div class="badge bg-danger">Promotion</div>
        }
    </div>

    <div><img src="@ViewBag.ProductDetail.ImageUrl" style="margin:10px" height="200" width="200" id="imgpreviewdetailblazor" /></div>

    <div class="card-body">
        @*<b>Price:</b><p class="card-text">@ViewBag.ProductDetail.Price.Tostring("c", CultureInfo.GetcultureInfo("th-TH"))</p>*@
        <b>Price:</b><p class="card-text">@ViewBag.ProductDetail.Price</p>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Description
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <p class="card-text">@ViewBag.ProductDetail.Description</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="badge bg-info">
                                Shipping :@if (ViewBag.ProductDetail.ShipDateDuration <= 1)
                                {
                                    <div class="badge bg-success text-light">Next day</div>
                                }
                                else
                                {
                                    <p class="card-text">@ViewBag.ProductDetail.ShipDateDuration days</p>
                                }
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="badge bg-info">Sold :@ViewBag.ProductDetail.SoldTotals</div>
                        </li>
                        <li class="list-group-item">
                            <div class="badge bg-info">Views :@ViewBag.ProductDetail.ViewTotals</div>
                        </li>
                        <li class="list-group-item">
                            <div class="badge bg-info">Comments :@ViewBag.ProductDetail.CommentTotals</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Comments
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                <div class="accordion-body">
                    <div>
                        <div>
                            <b>5 scores:(@ViewBag.ProductDetail.FivePoint)</b>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @(ViewBag.ProductDetail.PercentFivePoint+"%")" aria-valuenow="@ViewBag.ProductDetail.PercentFivePoint" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <b>4 scores:(@ViewBag.ProductDetail.FourPoint)</b>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @(ViewBag.ProductDetail.PercentFourPoint+"%")" aria-valuenow="@ViewBag.ProductDetail.PercentFourPoint" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <b>3 scores:(@ViewBag.ProductDetail.ThreePoint)</b>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @(ViewBag.ProductDetail.PercentThreePoint+"%")" aria-valuenow="@ViewBag.ProductDetail.PercentThreePoint" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <b>2 scores:(@ViewBag.ProductDetail.TwoPoint)</b>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @(ViewBag.ProductDetail.PercentTwoPoint+"%")" aria-valuenow="@ViewBag.ProductDetail.PercentTwoPoint" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <br />
                        <div>
                            <b>1 score:(@ViewBag.ProductDetail.OnePoint)</b>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @(ViewBag.ProductDetail.PercentOnePoint+"%")" aria-valuenow="@ViewBag.ProductDetail.PercentOnePoint" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 </div>
