@using System.Globalization 
@model MVCSmallFarm.Models.ApplicationUsers

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-header bg-dark text-light">
                User Profile
            </div>
            <div class="card-body text-dark">
                <div class="col mt-2">
                    @if (string.IsNullOrEmpty(Model.ImgUrl))
                    {
                        <img class="img" src="@Url.Content("~/img/nopic.png")" width="140" height="180" />
                    }
                    else
                    {
                        <img class="img" src="@Url.Content("~/img/" + @Model.ImgUrl)" width="140" height="180" />
                    }
                </div><br />
                <div class="col">
                    <div class="card mt-1">
                        <div class="card-header bg-dark text-light">
                            Detail
                        </div>
                        <div class="card-body text-dark">
                            <p class="card-text">
                                <b>UserName :</b> @Model.UserName<br />
                                <b>Email :</b> @Model.Email<br />
                                <b>Name :</b>@Model.FullName<br />
                                <b>Address :</b>@Model.Address<br />
                                <b>Tel :</b>@Model.PhoneNumber<br />
                                <b>Tel :</b>@Model.BirthDate?.ToString("D",CultureInfo.CreateSpecificCulture("th-TH"))<br />
                            </p>
                        </div>
                        <div class="card-footer bg-dark text-light">
                            <nav>
                                <a asp-controller="Member" asp-action="Edit" asp-route-id="@Model.Id"
                                   class="btn btn-outline-light">Edit</a>
                                <div class="float-end">
                                    <form asp-controller="Account" asp-action="Logout">
                                        <input type="submit" value="Logout"
                                               class="btn btn-outline-danger"/>
                                    </form>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

